<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wfl-verifica</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <style>
        .centered-text {
            text-align: center;
            font-weight: bold;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="centered-text">
            <h1> Verifica vincite Win For Life </h1>

            <input type="radio" class="btn-check" name="gametype" id="classico-check" value='classico' checked>
            <label class="btn btn-outline-success" for="classico-check">Win For Life Classico</label>

            <input type="radio" class="btn-check" name="gametype" id="grattacieli-check" value="grattacieli">
            <label class="btn btn-outline-success" for="grattacieli-check">Win For Life Grattacieli</label>
        </div>
    </div>

    </div>

    <h1 id="win_amount"></h1>
    <main>
        <div id="reader"></div>
        <div id="result"></div>
    </main>
    </div>

</body>
<script>
    const scanner = new Html5QrcodeScanner('reader', {
        fps: 20,
        aspectRatio: 1
    });

    scanner.render(success, error);

    function success(res) {
        scanner.clear();
        let path = '/checkwin'
        const url = new URL(res);

        const y = url.searchParams.get('Y'); // => 'hello'
        const c = url.searchParams.get('C'); // => null
        const prsn = url.searchParams.get('PrSN');
        const gt = $("input[name='gametype']:checked").val();
        console.log(gt)
        $.ajax({
            type: 'POST',
            url: "/checkwin",
            data: {
                'Y': y,
                'C': c,
                'PrSN': prsn,
                'game_type': gt
            },
            success: function (text) {
                let win_msg;
                if (text['win'] == 0)
                    win_msg = "Nessuna vincita.";
                else
                    win_msg = `Vincita di ${text['win']} euro.`
                document.getElementById("win_amount").innerText = win_msg;
            }
        }
        )

        scanner.render(success, error);

    }

    function error(res) {
    }
</script>

</html>